<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Test title #1</string>
		<key>subtitle</key>
		<string>Test Subtitle #1</string>
		<key>details</key>
		<string>TEST DETAILS #1</string>
		<key>progress</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Test title #2</string>
		<key>subtitle</key>
		<string></string>
		<key>details</key>
		<string>TEST DETAILS #2</string>
		<key>progress</key>
		<integer>75</integer>
	</dict>
</array>
</plist>
